/*
*File: index.css
*
* Author: Eli Yale
*
* Description: Main css file for index.html;
* Content and structure is layed out in index.html. This contains
* style only for text elements. The svg scene styling is found
* in scen1.css and scen2.css respectively.
* 
* Positioning: is done with each individual element in relation
* to the svg background containers. So use absolute positioning with
* top and left percantages to position. Z index starts at 0
* for the background gradient. Use classes. This file positions
* everything in its "end" position, js will later be used to give
* a diffent inital position and translate to this end position based
* on scroll percentage giving a parallax effect. Some elements 
* will be non parallax animated. All SVG's have a viewbox set
* automatically from illustrator and scale completly linearly.
* So as long as positioning is done as a top/left percentage,
* it will appear anchored no matter the viewport size.
*
* Text Sizing: Use the text size classes in this doc, they use
* vw units to scale with the viewport
*
* Breakpoints: There is a single breakpoint when the screen is small
* enough that the graphics touch the edge, then they scale down linearly;
*
* TODO:
*
*	[ ] - top vs translate(%) see about wrapper
*		-from initial tests, it appears that translate height
*		doesn't scale right, text runs into svg
*/

img {
	width: 100%;
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: 'quicksand', sans-serif;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.section {
	display: block;
	height: auto;
	width: 100%;
}

.container {
	height: auto;
	width: 1200px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/***************************Navigation***************************/
.logo-wrapper {
	display: inline-block;
	left:0%;
	top:0%;
	z-index: 1;
	width: 5vw;
	height: 5vw;
}

.navbar {
	overflow: hidden;
	float: right;
}

.navbar a {
	float: left;
	display: block;
	color: #8d7d82;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 29px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	background-color: #8db4b9;
	color: white;
}

.navbar .icon {
	display: none;
}

/**************************Info Section********************/

#Basic-Info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grabber {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	width: 50vw;
}

.typewriter-wrapper {
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 4.70%;
	transform: translate(-50%,0);
}

#about-wrapper {
	margin: 40px;
}

#contact-button {
	z-index: 5;
	background-color: #ABC5E3;
	border-radius: 8px;
	padding: 15px;
	border: none;
	transition: background-color 0.2s;
	font-weight: bold;
}

#contact-button:hover {
	background-color: #87AACC;
}

/***********************Experience Section******************/

#experience {
	z-index: 3;
	position: relative;
}

#experience-header {
	z-index: 10;
	margin-bottom: 40px;
	width: 20vw;
}

.plus {
	float:	right;
}

.plus {
	background-color: transparent;
	width: 50px;
	height: 50px;
	border: 0;
	font-size: 1.5em;
	position: relative;
	transition: .3s;
}

button span {
	position: absolute;
	transition: .3s;
	background: white;
	border-radius: 2px;
}

button span:first-of-type{
	top: 25%;
	bottom: 25%;
	width: 10%;
	left: 45%;
}

button span:last-of-type {
	left: 25%;
	right: 25%;
	height: 10%;
	top: 45%;
}

button:hover {
	cursor: pointer;
}

button:hover span:first-of-type, button:hover span:last-of-type {
	transform: scale(1.3,1.3);
}

/*auto is used so the SCU grid item can expand its width*/
#exp-grid {
	display: grid;
	grid-template-columns: .29fr 1fr 1fr 5px auto;
	grid-template-rows: minmax(0, 1fr);
	z-index: 100;
}

.responsive-grid {
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 900px;
	padding-left: 100px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.exp-grid-item {
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
}


.grid-item-body {
	display: none;
}

.grid-item-active {
	display: block;
	min-height: auto;
	min-width: auto;
	height: auto;
}

/*when SCU grid item expands, we want the title to fill the width
and thus need to override the default 250px width*/
.grid-title-active {
	width: 300px !important;
}

.grid-item-subtitle {
	color: #4D4E4E;
}

#Two {
	grid-column: 1;
	grid-row: 1;
	color: black;
}

/*Issues:
1) Year dates are now obstructed when screen is shrunk
2) Should I set a height as in NWW below? This prevents
the box from growing in height when SCU is expanded. Currently
all the boxes grow which looks weird
3) SCU titles are now off when responsive, I fixed the width, thats why
will need to set something new for width at the breakpoint.*/

#NWW {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 1;
	background-color: #8db4b9;
	height: 100px;
}

#Freelance {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 2;
	background-color: #a2aa8a;
}

#Nine {
	grid-column: 1;
	grid-row: 3;
	color: black;
}

#Travel {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 3;
	background-color: #93aac1;
}

#Ropes {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 4;
	background-color: #b79191;
}

#SCU {
	grid-column: 5;
	grid-row-start: 3;
	grid-row-end: 8;
	background-color: #8a9aa8;
}

#scu-grid-item-title {
	width: 250px;
}

#scu-grid-item-body {
	width: 300px;
}

#Eight {
	grid-column: 1;
	grid-row: 5;
	color: black;
}

#Ford {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 5;
	background-color: #8896ba;
}

#Seven {
	grid-column: 1;
	grid-row: 6;
	color: black;
}

#Cisco {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 6;
	background-color: #8896ba;
}

#Six {
	grid-column: 1;
	grid-row: 7;
	color: black;
}

#Kayak {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row: 7;
	background-color: #b79191;
}

#Five {
	grid-column: 1;
	grid-row: 8;
	color: black;
}

#THS {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row: 8;
	background-color: #94aa8c;
}

#NineSeven {
	grid-column: 1;
	grid-row: 9;
	color: black;
}

#Born {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row: 9;
	background-color: #8db4b9;
}

/********Blue Line**********/

#blue-line {
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: -1px;
	padding-right: 219px;
	display: block;
	position: absolute;
	width: 800px;
	height: 105%;
	z-index: 0;
	overflow: hidden;
}

/*******Underwater**********/

#underwater {
	background-image: url(sprites/underwater_background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	z-index: 2;
}


/**************************Projects Sections************************/

#projects {
	z-index: 3;
	position: relative;
}

#projects-header {
	z-index: 10;
	margin-bottom: 40px;
	width: 20vw;
}

#proj-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: minmax(0, 1fr);
	z-index: 100;
}

.responsive-proj-grid {
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 1000px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

.flip-card {
	padding: 10px;
	border-radius: 10px;
	perspective: 1000px;
	height: 400px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
	transform: rotateY(180deg);
}

.proj-grid-item-title {
	font-size: 32px;
	margin: 10px;
}

.proj-grid-item-subtitle {
	font-size: 24px;
	margin: 10px;
}

.proj-grid-item-body {
	margin: 10px;
}

li {
	text-align: initial;
}

.card-logo {
	width: 100px;
	height: 100px;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

#original-beat {
	grid-column: 1;
	grid-row: 1;
}

#original-beat-front, #original-beat-back {
	background-color: #93AAC1;
}

#bug-byte {
	grid-column: 2;
	grid-row: 1;
}

#bug-byte-front, #bug-byte-back {
	background-color: #8DB4B9;
}

#gen-blues {
	grid-column: 3;
	grid-row: 1;
}

#gen-blues-front, #gen-blues-back {
	background-color: #8A9AA8;
}

#pellet-md {
	grid-column: 1;
	grid-row: 2;
}

#pellet-md-front, #pellet-md-back {
	background-color: #8A9AA8;
}

#vfg {
	grid-column: 2;
	grid-row: 2;
}

#vfg-front, #vfg-back {
	background-color: #94AA8C;
}

#slack-track {
	grid-column: 3;
	grid-row: 2;
}

#slack-track-front, #slack-track-back {
	background-color: #93AAC1;
}


/*************************Img tags***************************/
#absolute-img {
	position: absolute;
	width: 100%;
	height: 1000px;
}
/************************Text Sizes**************************/


.huge-text {
	font-size: 150px;
	padding: 0px;
	margin: 0px;
}

.big-text {
	font-size: 100px;
	padding: 0px;
}

.med-text {
	font-size: 40px;
	padding: 0px;
}

.normal-text {
	font-size: 29px;
	padding: 0px;
}

.small-text {
	font-size: 20px;
}

/***********************colors*********************************/

.paul {
	color: #384053;
}

.forest-green {
	color: #6d7852;
}

.body-white {
	color: #FFFFFF;
}

.body-black {
	color: #000000;
}

.body-gray {
	color: #969696;
}

/**********************Fonts***********************************/

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

/*********************Media Queries****************************/
@media screen and (max-width: 1276px){
	.huge-text {
		font-size: 10vw;
	}

	.container {
		width: 100%;
	}
}

@media screen and (max-width: 997px) {
	.normal-text {
		font-size: max(20px, 3.5vw);
	}
	.med-text {
		font-size: max(30px, 4vw);
	}
	.big-text {
		font-size: max(40px, 10vw);
	}
	#about-wrapper {
		top: 2.9%;
	}
	.navbar a {
		display: none;
	}
	.navbar a.icon {
		float: right;
		display: block;
	}
	.navbar.responsive-nav {
		position: relative;
	}
	.navbar.responsive-nav a.icon {
		margin: 10px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive-nav a {
		margin-right: 50px;
		float: none;
		display: block;
		text-align: left;
	}

	.container {
		width: 100vw;
	}

	#background {
		height: 1300vw;
	}
	#svg-container {
		height: 1300vw;
	}
	.responsive-svg-centered {
		width: 95vw;
		left: 0%;
		right: initial;
		display: initial;
		margin-left: initial;
		margin-right: initial;
	}

	#exp-grid {
		display: grid;
		grid-template-columns: .25fr 1fr 1fr 5px 1fr;
		grid-template-rows: minmax(0, 1fr);
		z-index: 100;
	}

	.responsive-grid {
		margin: 10%;
		margin-right: 3%;
		width: 90vw;
		padding-left: 0px;
		grid-row-gap: 20px;
		grid-column-gap: 10px;
	}

	.year-date {
		text-orientation: sideways;
		writing-mode: vertical-rl;
	}

	.grid-item-title {
		overflow: hidden;
	}

	.exp-grid-item {
		border-radius: 10px;
		padding: 10px;
	}

	#scu-grid-item-title {
		width: 18vw;
	}

	#scu-grid-item-body {
		width: 18vw;
	}

	.plus {
		background-color: transparent;
		width: 20px;
		height: 20px;
		border: 0;
		font-size: 1.5em;
		position: relative;
		transition: .3s;
	}
	#underwater {
		margin-top: 40px;
	}

	#blue-line {
		width: 70vw;
		padding: initial;
		margin-left: 0.07vw;
	}

	#proj-grid {
		margin-left: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: minmax(0, 1fr);
		z-index: 100;
	}

	.responsive-proj-grid {
		margin: 10px;
		width: 80vw;
		padding-left: 0px;
		grid-row-gap: 20px;
		grid-column-gap: 10px;
	}

	#original-beat {
		grid-column: 1;
		grid-row: 1;
	}

	#bug-byte {
		grid-column: 2;
		grid-row: 1;
	}

	#gen-blues {
		grid-column: 1;
		grid-row: 2;
	}

	#pellet-md {
		grid-column: 2;
		grid-row: 2;
	}

	#vfg {
		grid-column: 1;
		grid-row: 3;
	}

	#slack-track {
		grid-column: 2;
		grid-row: 3;
	}
}

@media screen and (max-width: 500px) {
	.responsive-grid {
		margin: 10%;
		width: 80vw;
		padding-left: 0px;
		grid-row-gap: 10px;
		grid-column-gap: 0px;
	}

	#exp-grid {
		grid-template-columns: 1fr;
		grid-template-rows: minmax(0, 1fr);
		z-index: 100;
	}

	.grid-item-active {
		display: initial;
		min-height: auto;
		min-width: auto;
		height: auto;
		width: auto;
	}

	.year-date {
		text-orientation: initial;
		writing-mode: initial;
	}

	#Two {
		grid-column: 1;
		grid-row: 1;
	}

	#NWW {
		grid-column: 1;
		grid-row: 2;
	}

	#Freelance {
		grid-column: 1;
		grid-row: 3;
	}

	#Nine {
		grid-column: 1;
		grid-row: 4;
	}

	#Travel {
		grid-column: 1;
		grid-row: 5;
	}

	#Ropes {
		grid-column: 1;
		grid-row: 6;
	}

	#SCU {
		grid-column: 1;
		grid-row: 7;
	}

	#Eight {
		grid-column: 1;
		grid-row: 8;
	}

	#Ford {
		grid-column: 1;
		grid-row: 9;
	}

	#Seven {
		grid-column: 1;
		grid-row: 10;
	}

	#Cisco {
		grid-column: 1;
		grid-row: 11;
	}

	#Six {
		grid-column: 1;
		grid-row: 12;
		color: black;
	}

	#Kayak {
		grid-column: 1;
		grid-row: 13;
	}

	#Five {
		grid-column: 1;
		grid-row: 14;
	}

	#THS {
		grid-column: 1;
		grid-row: 15;
	}

	#NineSeven {
		grid-column: 1;
		grid-row: 16;
	}

	#Born {
		grid-column: 1;
		grid-row: 17;
	}
	#proj-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(0, 1fr);
		z-index: 100;
	}

	#original-beat {
		grid-column: 1;
		grid-row: 1;
	}

	#bug-byte {
		grid-column: 1;
		grid-row: 2;
	}

	#gen-blues {
		grid-column: 1;
		grid-row: 3;
	}

	#pellet-md {
		grid-column: 1;
		grid-row: 4;
	}

	#vfg {
		grid-column: 1;
		grid-row: 5;
	}

	#slack-track {
		grid-column: 1;
		grid-row: 6;
	}	
}