/*
* File: scene2.css
*
* Author: Eli Yale;
*
* Description:
* Styling for the underwater scene
*
* Scaling: all svgs and text scale with vw, not vh. vh should
* not appear anywhere. So far I have been giving the svg a
* arbitrairly large height, so it scales according to the available
* width and never runs into restriction from height. There should
* be a correct way to do this.
*/

.responsive-coral {
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: absolute;
}

#svg-container-scene2 {
	width: 100vw;
	height: 1208px;
	overflow: hidden;
	position: relative;
}

#ship {
	position: absolute;
	display: block;
	z-index: 500;
	width: 300px;
	bottom: -50px;
	left: 100px;
}

#coralgroup1 {
	padding-left: 100px;
	z-index: 2;
	top: 8%;
	width: 800px;
}

#coralgroup2 {
	padding-right: 500px;
	z-index: 6;
	top: 52%;
	width: 500px;
}

#sun-rays {
	z-index: 7;
	width: 70vw;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: absolute;
}

/*********************Media Queries****************************/

@media screen and (max-width: 997px) {
	#svg-container-scene2 {
		height: 143vw;
	}
	.responsive-coral {
		left: initial;
		right: initial;
		display: initial;
	}
	#ship {
		width: 30vw;
	}
	#coralgroup1 {
		width: 80vw;
		padding-left: 10vw;
	}
	#coralgroup2 {
		width: 50vw;
		padding-right: initial;
		padding-left: 5vw;
	}
}